name: alert-rerouter
services:
  telegram-webhook:
    container_name: alert-rerouter
    build:
      context: .
      dockerfile: Dockerfile
    network_mode: host
    ports:
      - "8081:8081"
    restart: unless-stopped
    environment:
      - TOKEN=${TOKEN}
      - CHAT_ID=${CHAT_ID}