name: alert-rerouter
services:
  telegram-webhook:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    restart: unless-stopped
    environment:
      - TOKEN=${TOKEN}
      - CHAT_ID=${CHAT_ID}